*{
   margin: 0;
   padding: 0; 
}
.outer{
    background-image: url('../images/rightImage.png');
    height: 100vh;
    width: 45vw;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title{
    font-family:DM Sans;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    padding-top: 7vh;
}